__pycache__/
dist/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.idea/
.ruff_cache/
test/
guidance_eval_results/
exp/
plots/
qflow-reproduce
fql-reproduce
qipo-reproduce
fbrac-reproduce
ifql-reproduce
fawac-reproduce
rebuttal
online_finetuning
2d_exp/toy_experiment/
.claude